# Docker Compose 공통 설정
COMPOSE_PROJECT_NAME=hugme-local

# PostgreSQL 설정
POSTGRES_HOST_PORT=5432
POSTGRES_DB=hugmedb
POSTGRES_USER=hugme
POSTGRES_PASSWORD=실제_비밀번호

# ParadeDB 설정
CHATBOT_POSTGRES_HOST_PORT=5433
CHATBOT_POSTGRES_DB=paradedb
CHATBOT_POSTGRES_USER=paradedb
CHATBOT_POSTGRES_PASSWORD=실제_비밀번호

# Elasticsearch 설정
ELASTICSEARCH_HOST_PORT=9200
